/PrimeiroPrograma/nbproject/private/
/PrimeiroPrograma/build/
/IdiomaDoSistema/nbproject/private/
/HoraDoSistema/nbproject/private/
/OlaMundoSwing/nbproject/private/
/ResolucaoDaTela/nbproject/private/
/OlaMundoSwing/build/
/HoraDoSistema/build/
/IdiomaDoSistema/build/
/ResolucaoDaTela/build/
/OlaMundoSwing/dist/